@font-face {
    font-family: 'ItalianaRegular';
    src: url('fonts/Italiana-Regular.ttf');
}
#imageStartPage{
    margin: 0;
    position: absolute;
    top: 55%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
p{
   display: inline-block;
    float: right;
    font-family: 'ItalianaRegular', Italiana, serif !important;
    font-size: 14px;
 }
